.Footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 500px;
  // height: 450px;
  margin-top: -150px;
  background: white;

  // background: -webkit-linear-gradient(-3deg, #FAFAFA 50%, #ffffff 50%);
  // background: -o-linear-gradient(-3deg, #FAFAFA 50%, #ffffff 50%);
  // background: -moz-linear-gradient(-3deg, #FAFAFA 50%, #ffffff 50%);
  background: linear-gradient(-3deg, #FAFAFA 50%, #ffffff 50%);

  .msg {
    font-size: 13px;
    margin-top: 10px;
    color: #999794;
  }
  .cp {
    font-size: 13px;
    // margin-top: 0px;
    margin-bottom: -240px;
    color: #999794;
    // font-style: italic;
  }
}