.About {
  // TEMPORARY BORDER
  // border: solid 1px gold;

  width: 960px;

  .Content {
    height: 722px;
    position: relative;
    margin-bottom: 140px;

    .Portrait {
      // TEMPORARY BORDER
      // border: solid 1px olive;
      position: absolute;
      left: 0;
      top: 20px;
  
      .PortraitImage {
        // TEMPORARY BORDER
        // border: solid 1px brown;
        
        width: 513px;
        height: 722px;
        overflow: hidden;
      }
      .PortraitImage img {
        width: 513px;
        height: auto;
        margin: -15px 0 0 0;
      }
    }
  
    .Bio {
      width: 512px;
      position: absolute;
      margin-top: 72px;
      right: 0;
    }
  }





}
