// Bigger Style
.NavBar {
  // TEMPORARY BORDER
  // border: solid 1px lime;

  position: absolute;
  top: 0;
  margin: 0 60px;
  width: 960px;

  .Bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

}

#nav {
  // border: 1px solid pink;

  // width: 250px;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  list-style: none;
}

#nav li {
  font-size: 16px; // less than 18px
  font-weight: 600;
}

@media screen and (max-width: 1080px) {
  .NavBar {
    width: 100vw;
    .Bar {
      // TEMPORARY BORDER
      // border: solid 1px blue;
      
      display: flex;
      margin: 0 60px;
    }
  }
  
}

@media screen and (max-width: 480px) {
  .NavBar {
    width: 80vw;
    .Bar {
      
      display: flex;
      margin: 0 20px;
    }
  }

  #nav li {
    font-size: 14px;
  }
  
}



// Smaller Style
/*
.BarSpace {
  // TEMPORARY BORDER
  //border: solid 1px red;

  width: 70%;
  display: flex;
  align-items: center ;
  justify-content: space-between;
  position: absolute;
  top: 0;

}

#nav {
  // TEMPORARY BORDER
  border: 1px solid pink;

  //width: 28.34467120181406vw; // 500px
  width: 23.174971031286212vw; // 400px
  display: flex;
  justify-content: space-between;
  padding: 0.6161429451632778vw; // 10px
  list-style: none;
}

#nav li {
  font-size: 0.8620689655172413vw; // 16px
  // font-size: 1.1292346298619824vw; // 18px
  font-weight: 500;
}
*/

