// Bigger Style
.NavBar {
  // TEMPORARY BORDER
  // border: solid 1px lime;

  position: absolute;
  // left: 0;
  top: 0;
  // margin: 0 60px;
  width: 960px;

  .Bar {
    // border: red 1px solid;
    display: flex;
    align-items: center;
    position: relative;
    justify-content: space-between;
  }

}

#nav {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  list-style: none;
}

#nav li {
  // border: red 1px solid;
  font-size: 16px; // less than 18px
  font-weight: 600;
  transition: 0.3s;
}
.nav-item {
  cursor: pointer;
}
.nav-item + .nav-item {
  margin-left: 80px;
}
li:hover {
  color: #999794;
}

.copied-popup {
  display: flex;
  position: fixed;
  width: inherit;
  top: 20px;
  justify-content: center;
  opacity: 0;
  transition: all 0.3s;
  transform: translateY(-80px);
  .popup-box {
    font-size: 14px;
    font-weight: 600;
    padding: 8px 10px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 1px 4px 10px rgba(0, 0, 0, 0.15);
  }
}

.copied-popup.show-popup {
  opacity: 1;
  transform: translateY(0px);
}


@media screen and (max-width: 1080px) {
  .NavBar {
    width: 100vw;
    .Bar {
      // TEMPORARY BORDER
      // border: solid 1px blue;
      
      display: flex;
      margin: 0 60px;
    }
  }
  
}

@media screen and (max-width: 480px) {
  .NavBar {
    width: 100vw;
    
    left: 0;
    .Bar {
      
      // display: flex;
      margin: 0 20px;
    }
  }
  #nav li {
    font-size: 14px;
  }
  
}



// Smaller Style
/*
.BarSpace {
  // TEMPORARY BORDER
  //border: solid 1px red;

  width: 70%;
  display: flex;
  align-items: center ;
  justify-content: space-between;
  position: absolute;
  top: 0;

}

#nav {
  // TEMPORARY BORDER
  border: 1px solid pink;

  //width: 28.34467120181406vw; // 500px
  width: 23.174971031286212vw; // 400px
  display: flex;
  justify-content: space-between;
  padding: 0.6161429451632778vw; // 10px
  list-style: none;
}

#nav li {
  font-size: 0.8620689655172413vw; // 16px
  // font-size: 1.1292346298619824vw; // 18px
  font-weight: 500;
}
*/

