.Intro {
  //border: 1px solid red;

  width: 972px;
  height: 100vh;

}

.Center {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.Welcome {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  // Unselectable text
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none;

}

.Tri-Poly {
  width: 80vw;
  max-width: 900px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.Chev-Down {

  width: 3%;
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
}