.App {
  // TEMPORARY BORDER
  // border: 2px solid salmon;
  
  background-color: white;

  min-height: 100vh;
  display: flex;
  align-items: start;
  justify-content: center;
  margin-top: 9vw;

  font-size: calc(10px + 2vmin);
  color: #1D1D1D;
  font-family: 'Hero New';


}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-link {
  color: #1D1D1D;
}

a:hover, a:visited, a:link, a:active {
  color:#1D1D1D;
  text-decoration: none;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    // This makes the logo spin
    animation: App-logo-spin infinite 20s linear;
  }
}






/*
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
*/
