.link {
  font-weight: 800;
  transition: 0.2s;
}
.link:hover {
  font-weight: 400;
}

.t4g:hover {
  color: #6ea6fb;
}
.creativity:hover {
  color: #9c9a99;
}
.kixlab:hover {
  color: rgb(237, 119, 47);
}
.ucsd:hover {
  color: #00629B;
}
.masonview:hover {
  color: #f0b051;
}
.masonview-uist23:hover {
  color: #f0b051;
}
