.publications {
  // TEMPORARY BORDER
  // border: solid 1px green;
  background: white;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 140px;
  margin-bottom: 50px;
  .publications-content {
    width: 960px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex;
    gap: 30px;
    .publication-item {
      // border: red solid 1px;
      // margin: 40px 0;
      padding: 20px;
      width: 920px;
      display: flex;
      flex-direction: row;
      gap: 50px;
      justify-content: center;
      align-items: center;
      transition: opacity 0.2s, background-color 0.2s;
      // border-radius: 6px;

      .thumbnail {
        min-width: 270px;
        width: 270px;
        height: 160px;
        overflow: hidden;
        // border-radius: 6px;
        display: flex;
        justify-content: center;
        align-items: center;
        outline: 1px solid #f0edeb;
        // border: cadetblue solid 1px;
      }
      .thumbnail img {
        object-fit: cover;
        width: inherit;
        height: inherit;
        // border-radius: 6px;
        // display: flex;
        // overflow: hidden;
        // box-shadow: 0px 4px 20px 0px #00000010;
      }
      .description {
        // border: cadetblue solid 1px;
        width: 640px;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        .header {
          height: 18px;
          display: flex;
          align-items: center;
          gap: 12px;
          color: #999794;
          .award {
            color: #f19a21;
            font-size: 18px;
            font-weight: 700;
          }
          .note {
            font-style: italic;
            color: #999794;
            font-size: 18px;
          }
          p {
            margin: 0;
            padding: 0;
          }
        }
        .title {
          display: flex;
          align-items: baseline;
          flex-direction: row;
          p {
            margin-left: 15px;
            margin-bottom: 5px;
          }
        }
        h5 {
          font-size: 20px;
          font-weight: 400;
          line-height: 1.2em;
          margin-bottom: 5px;
        }
        p {
          margin-top: 10px;
          line-height: 1.3em;
        }
        .resources {
          display: flex;
          gap: 12px;
          a {
            width: fit-content;
            font-size: 14px;
            color: #999794;
            transition: 0.2s;
            * {
              stroke: #999794;
              transition: 0.2s;
            }
          }
          a:hover {
            color: #1D1D1D;
            * {
              stroke: #1D1D1D;
            }
          }
          p {
            color: #999794;
            font-size: 14px;
            margin: 0;
            padding: 0;
          }
        }
        .skillset {
          display: flex;
          flex-direction: row;
          position: absolute;
          bottom: 10px;
          gap: 18px;
        }
      }
    }
    // .project-box:hover {
    //   background-color: #fafafa;
    //   // height: 500px;
    //   // width: 100%;
    //   z-index: 100;
    // }

  }
}

.skill {
  font-size: 14px;
  padding: 5px 10px;
  border-radius: 12px;
  background-color: #e6e3e0;
  background-color: #f19a21;
}

.skill + .skill {
  margin-left: 50px;
}

@media screen and (max-width: 1080px) {
  .publications {
    justify-content: center;
    .publications-content {
      // border: solid red 1px;
      width: fit-content;
      // align-items: center;
      padding: 0 50px;
      .publication-item {
        // border: solid blue 1px;
        width: 100%;
        min-width: 100%;
        height: fit-content;
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: center;
        gap: 0px;
        .thumbnail {
          min-width: 270px;
          width: 270px;
          height: auto;
          margin: 20px;
        }
        .description {
          width: 100%;
          // width: auto;
          margin: 20px;
        }
      }

    }
  }
}


@media screen and (max-width: 680px) {
  .publications {
    justify-content: center;
    .publications-content {
      width: 90vw;
      .publication-item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 12px;
        margin-bottom: 20px;
        // width: 80vw;
        .thumbnail {
          margin: 0 20px 12px;
          min-width: 270px;
          width: 100%;
          height: auto;
        }
        .description {
          width: 100%;
          margin: 0 24px;
        }
      }

    }
  }
}

