.Projects {
  // TEMPORARY BORDER
  // border: solid 1px green;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 140px;
  margin-bottom: 50px;
  .projects-content {
    width: 960px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex;
    .preview {
      width: 440px;
      height: 300px;
      object-fit: cover;

      border-radius: 5px;
      // box-shadow: 0px 4px 20px 0px #00000010;
    }
    .project-box {
      // border: red solid 1px;
      margin: 40px 0;
      padding: 20px;
      width: 960px;
      display: flex;
      flex-direction: row;
      // align-items: center;
      transition: 0.3s;
      border-radius: 7px;

      .description {
        // border: cadetblue solid 1px;
        position: relative;
        height: 280px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        margin: 10px 55px 0 55px;
        .title {
          display: flex;
          align-items: baseline;
          flex-direction: row;
          p {
            margin-left: 15px;
            margin-bottom: 5px;
          }
        }
        h5 {
          line-height: 1em;
          margin-bottom: 5px;
        }
        p {
          margin-top: 10px;
          line-height: 1.3em;
        }
        .skillset {
          display: flex;
          flex-direction: row;
          position: absolute;
          bottom: 10px;
          gap: 18px;
        }
      }
    }
    .project-box:hover {
      background-color: #fafafa;
      // height: 500px;
      // width: 100%;
      z-index: 100;
    }

  }
}

.skill {
  font-size: 14px;
  padding: 5px 10px;
  border-radius: 12px;
  background-color: #e6e3e0;
}

.skill + .skill {
  margin-left: 50px;
}

@media screen and (max-width: 1080px) {
  .Projects {
    justify-content: center;
    .projects-content {
      width: 70vw;
      align-items: center;
      .project-box {
        padding: 10px;
        margin: 10px 30px 0 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 80vw;
        .preview {
          width: 300px;
          height: auto;
          margin: 0 55px;
        }
      }

    }
  }
}


@media screen and (max-width: 680px) {
  .Projects {
    justify-content: center;
    .projects-content {
      // width: 70vw;
      align-items: center;
      .project-box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        // width: 80vw;
        .preview {
          margin: 0;
          width: 300px;
          height: auto;
        }
        .description {
          margin: 10px 24px;
        }
      }

    }
  }
}

