.H2UTechnologiesPreview {
  margin: 0 60px 60px 60px;
  position: relative;
  display: flex;
  height: 540px;
  
  justify-content: center;
  background-image: linear-gradient(108deg, #7BDB85, #5EDBA6 30%, #C1EF77 70%);
  cursor: pointer;

  .Content {
    // TEMPORARY BORDER
    // border: solid 1px blue;
    
    display: flex;
    // Add 60 on each side.
    width: 1080px;
    justify-content: space-between;
    align-items: center;
    .Text {
      margin-top: -180px;
      margin-left: 60px;
      width: 330px;
      
      .Date {
        font-size: 14px;
        font-weight: 500;
        color: rgba(255, 255, 255, .75);
        padding-bottom: 10px;
      }
      .Title {
        font-size: 28px;
        font-weight: 600;
        color: white;
        padding-bottom: 20px;
      }
      .Subtitle {
        font-size: 18px;
        font-weight: 500;
        color: white;
      }
    }

    .Image {
      width: 480px;
      height: 411px;
      margin-right: 60px;
      
    }
  }

  .Types {
    position: absolute;
    bottom: 13px;
    left: 16px;
    font-size: 12px;
    font-weight: 500;
    color: rgba(255, 255, 255, .75);
  }
}

.H2UImage {
  // TEMPORARY BORDER
  // border: solid 1px gold;

  position: relative;
  // box-shadow: 0 50px rgba(0, 0, 0, 0.16);
  
  .H2UHome img {
    position: absolute;
    width: 310px;
    height: auto;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.16);
  }
  .H2UAbout img {
    position: absolute;
    left: 170px;
    top: 72px;
    width: 310px;
    height: auto;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.16);
  }
}
