
.Socials {
  // TEMPORARY BORDER
  // border: solid 1px green;
  
  // border-top: solid 2px #333333;
  // border-bottom: solid 2px #333333;
  margin-top: 240px;
  width: 960px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  .lnkdn {
    height: auto;
    transition: 0.2s;
  }
  .lnkdn:hover {
    color: #0e76a8;
    // font-weight: 400;
    // transform: skew(-12deg);
  }

  .gthb {
    height: auto;
    transition: 0.2s;
  }
  .gthb:hover {
    color: #6e5494;
    // font-weight: 400;
    // transform: skew(-12deg);
  }

  .insta {
    height: auto;
    transition: 0.2s;
  }
  .insta:hover {
    color: #E1306C;
    // font-weight: 400;
    // transform: skew(-12deg);
  }

  .vsco {
    height: auto;
    transition: 0.2s;
  }
  .vsco:hover {
    color: #ae995a;
    // font-weight: 400;
    // transform: skew(-12deg);
  }

  .ytbe {
    height: auto;
    transition: 0.2s;
  } 
  .ytbe:hover {
    color: #ff0000;
    // font-weight: 400;
    // transform: skew(-12deg);
  }


}

@media screen and (max-width: 1080px) {
  .Socials {
    width: 100vw;
  }
}
