.Home {
  // TEMPORARY BORDER
  // border: solid 1px purple;
  
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // margin-top: 40vh;

  
}

.Intro {
  // TEMPORARY BORDER
  // border: solid 1px red;

  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  // justify-content: center;

  // background: -webkit-linear-gradient(110deg, #FAFAFA 60%, #ffffff 60%);
  // background: -o-linear-gradient(110deg, #FAFAFA 60%, #ffffff 60%);
  // background: -moz-linear-gradient(110deg, #FAFAFA 60%, #ffffff 60%);
  background: linear-gradient(167deg, #FAFAFA 70%, #ffffff 60%);

  // background-position: 0 20vh;

  .Name {
    font-family: 'lemonde-journal', serif;
    font-weight: 600;
    text-align: center;
    font-size: 128px;
    margin-top: 30vh;
  }
  
  .Greeting {
    // TEMPORARY BORDER
    // border: solid 1px blue;
    
    margin-top: 30px;
    top: 20vh;
    height: fit-content;
    width: 615px;
    word-spacing: 1.6px;

    b {
      font-weight: 700;
    }
  }


}