.Home {
  // TEMPORARY BORDER
  // border: solid 1px purple;
  
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

.Intro {
  margin-left: auto;
  margin-right: auto;
  width: 960px;
  height: 100vh;
  position: relative;
  
  .Greeting {
    // TEMPORARY BORDER
    // border: solid 1px blue;
    
    top: 20vh;
    position: absolute;
    height: fit-content;
    width: 570px;

    b {
      font-weight: 600;
    }
  }

  .Sunglasses {
    position: absolute;
    top: 10vh;
    right: 0;
    width: 749px;
    height: auto;
    overflow: hidden;
  }

  .Sunglasses img {
    transform: scaleX(-1);
    width: 828px;
    height: auto;
    margin: 0 0 0 0;
  }


}